<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Last 30 register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="container">

	<table class="table">
  <thead>
    <tr>
      <th scope="col">FIO</th>
      <th scope="col">SN</th>
      <th scope="col">Plata</th>
      <th scope="col">Vaqt</th>
    </tr>
  </thead>
  <tbody>
  	{% for info in form %}
    <tr>
      <td>{{info.fio}}</td>
      <td>{{info.sn}}</td>
      <td>{{info.p1}}/{{info.p2}}/{{info.p3}}</td>
      <td>{{info.vaqt}}</td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>

</div>
</body>
</html>